extends ../master/master.pug

append infoPage
    title Produtos

append scripts
    script(src='/bower_components/javascript-detect-element-resize/jquery.resize.js')
    script(src='/javascripts/common/paymentFormCtrl.js')
    script(src='/javascripts/client/client-products.js')

append styles
    link(rel='stylesheet', href='/stylesheets/client-products.css')

block custom-sidebar
    ul.sidebar-menu(ng-controller="productCategorysCtrl", data-widget="tree")
        li.treeview
            a(href="#")
                i.fa.fa-filter
                span Categorias
                span.pull-right-container
                    i.fa.fa-angle-left.pull-right
            ul.treeview-menu
                li(ng-click="filterCategory()")                    
                    a(href="#") Sem Filtro
                li(ng-repeat="category in dtCategorys.List", ng-click="filterCategory(category)", ng-class="{ 'active': category.isSelected }")
                    a(href="#") {{category.categoryName}}

block content
    div.panel.panel-default(ng-controller="clientProducts")
        div.row         
            div.col-xs-12.col-lg-5.total-info-container(ng-controller="PaymentFormCtrl")
                div.small-box.bg-aqua
                    div.inner
                        table.total-info-table
                            tbody
                                tr
                                    td Forma Pagamento:
                                    td 
                                        select.form-control(id="dbPaymentForm", name="dbPaymentForm", ng-model="paymentFormCode", ng-required="!isFind", ng-change="paymentFormSelected()")
                                            option(ng-repeat="paymentForm in dtPaymentForm.List", value="{{paymentForm.code}}" ) {{paymentForm.descForm}}
                                tr
                                    td {{totalItems}} Produto(s)
                                    td Total: {{toMoney(getTotalGeneral())}}
                    div.icon
                        i.fa.fa-shopping-cart
                    a.small-box-footer(href="/client/car") Finalizar Pedido&nbsp
                        i.fa.fa-arrow-circle-right
                    
            div.div-content-product
                div.col-xs-12.col-lg-4.product-container(product-container, ng-repeat="product in dtProducts.List")
                    div.item-checked-container(ng-show="product.inSession", ng-click="removeProduct(product)")              
                    div.product-image
                        img(ng-src="{{product.filename}}", ng-click="showInfo(product)")
                    div.col-sm-3.col-md-6.product-info
                        label(name="lblName") {{product.productName}} 
                        label.product-reference(name="lblRefernce") &nbsp(Réf: {{product.reference}})
                        br
                        label(name="lblValue") Preço: {{ getProductValue(product).toString() }}
                        br
                        label Grade:
                        select.form-control(id="{{ dbGradeId }}", name="dbGrade", ng-model="product.selectedGrade", ng-change="alteredGrade(product)"
                            , ng-focus="gradeOptionLoad(product, dbGradeId, $index)")
                            option(value='0') Carregando
                            option(ng-repeat="grade in product.gradesOptions", value="{{grade.gradeCode}}") {{grade.descGrade}}
                        span(load-icon)
                        label(name="lblMin", ng-show="hasSelectedGrade(product)")  Itens por grade {{ getQuantity(product) }}
                        br
                        label Qtd. Grade:
                        input.form-control(type="number", name="iptQuantity", ng-model="product.quantity", min="1", ng-required)
                        br
                        label(name="lblTotal") Preço Total: {{ getTotal(product)}}

                    div.buttons
                        button.btn.btn-primary(type="button", ng-click="addProduct(product)", ng-show="!product.inSession", ng-disabled="!isValidItem(product)", title="Adicionar item ao carrinho") Adicionar
                        button.btn.btn-success(type="button", ng-click="editProduct(product)", ng-show="product.inSession", ng-disabled="!isValidItem(product)", title="Salvar alterações no item") Salvar

            
            ul.pagination-sm.pager-style(uib-pagination, total-items="getPagerInfo('pgClientProduct').bigTotalItems", ng-model="getPagerInfo('pgClientProduct').bigCurrentPage"
            , max-size="5", boundary-links="true", force-ellipses="true", boundary-link-numbers="true", items-per-page="getPagerInfo('pgClientProduct').itemsPerPage", ng-change="pageChanged('pgClientProduct')")
            div.div-buttons
                a.btn.btn-success.fa.fa-shopping-cart(type="button", href="/client/car" title="Finalizar pedido"
                    , ng-click="generateRelatory()")  Finalizar Pedido                   
                    