extends ../master/master.pug

append infoPage
    title Produtos

append scripts
    script(src='/javascripts/client/client-products.js')

append styles
    link(rel='stylesheet', href='/stylesheets/client-products.css')

block content
    div.panel.panel-default(ng-controller="clientProducts")
        div.row
            div.col-xs-12.col-sm-3.col-lg-2.categorys-container
                label Categorias:
                ul.list-group
                    li.list-group-item(ng-repeat="category in dtCategorys.List", ng-click="filterCategory(category)", ng-class="{ 'active' : category.isSelected }") {{category.categoryName}}
            div.col-xs-6.col-sm-10.col-lg-9
                div.payment-form-container
                    form.form-horizontal(name="frmPaymentForm")
                        div.form-group
                            div.col-sm-10
                                label.control-label.col-sm-3 Formas de Pagamento
                            div.col-sm-10                
                                label.radio-inline(ng-repeat="paymentForm in dtPaymentForm.List")
                                    input(type="radio", name="iptPaymentForm", ng-click="paymentFormSelected(paymentForm)", ng-checked="$index === 0") 
                                    | {{paymentForm.descForm}}

                div.col-lg-6.product-container(ng-repeat="product in dtProducts.List")
                    div.item-checked-container(ng-show="product.inSession", ng-click="removeProduct(product)")              
                    div.product-image
                        img(ng-src="{{product.filename}}", ng-click="showInfo(product)")
                    div.col-sm-3.col-md-6.product-info
                        label(name="lblName") {{product.productName}}
                        br
                        label(name="lblValue") Preço: {{ "R$ " + getProductValue(product).toString() }}
                        br
                        label Grade:
                        select.form-control(id="{{ dbGradeId }}", name="dbGrade", ng-model="product.selectedGrade", ng-change="alteredGrade(product)"
                            , ng-focus="gradeOptionLoad(product)")
                            option(ng-repeat="grade in product.gradesOptions", value="{{grade.gradeCode}}") {{grade.descGrade}}
                        label(name="lblMin", ng-show="hasSelectedGrade(product)")  Items por grade {{ getQuantity(product) }}
                        br
                        label Qtd. Grade:
                        input.form-control(type="number", name="iptQuantity", ng-model="product.quantity", min="1", ng-required)
                        br
                        label(name="lblTotal") Preço Total: {{ "R$ " + getTotal(product)}}

                    div.col-sm-3.col-md-6.buttons
                        button.btn.btn-primary(type="button", ng-click="addProduct(product)", ng-show="!product.inSession", ng-disabled="!isValidItem(product)", title="Adicionar item ao carrinho") Adicionar
                        button.btn.btn-success(type="button", ng-click="editProduct(product)", ng-show="product.inSession", ng-disabled="!isValidItem(product)", title="Salvar alterações no item") Salvar