extends ../master/master.pug

append infoPage
    title #{title}

append scripts
    script(src='/javascripts/client/client-product-info.js')

append styles
    link(rel='stylesheet', href='/stylesheets/client-product-info.css')

block content
    div.panel.panel-default(ng-controller="clientProductInfo")
        div.magnifier-preview-reset(id="preview", style="max-width: 280px; position: absolute;")
        div.product-container
            div.col-xs-12.col-sm-6.col-lg-5.slider-container.product-image.slider
                a.magnifier-thumb-wrapper
                    img.slide.magnifier-zoom(ng-repeat="image in dtImages.List", slider-image, wrapper-control-id="preview"
                        , file-name="image.filename", ng-swipe-right="showPrev()", ng-swipe-left="showNext()", ng-show="isActive($index)")
                a.arrow.next(href="#", ng-click="showNext()")
                a.arrow.prev(href="#", ng-click="showPrev()")
                div.container-nav
                    ul.nav
                        li(ng-class="{'active': isActive($index)}", ng-repeat="image in dtImages.List")
                            img(ng-src="{{image.filename}}", alt="{{image.imageDescription}}", title="{{image.imageDescription}}", ng-click="showPhoto($index)")
                

            div.col-xs-12.col-sm-6.col-lg-6.product-info
                form.form-horizontal
                    div.form-group
                        label.lbl-product-name(name="lblName") {{product.productName}}
                        label.lbl-product-reference(name="lblReference") (Réf: {{product.reference}})
                    div.form-group
                        label.control-label.col-sm-4.col-xs-12.col-lg-2(name="lblValue") Preço:
                        div.col-sm-6
                            label.span-content {{ getProductValue(product) }}
                    div.form-group
                        label.control-label.col-sm-4.col-xs-12.col-lg-2 Grade:
                        div.col-sm-8.col-xs-12.col-lg-6
                            select.form-control.select-grade(id="{{ dbGradeId }}", name="dbGrade", ng-model="product.selectedGrade", ng-change="alteredGrade(product)"
                                , ng-focus="gradeOptionLoad(product, dbGradeId, $index)")                                
                                option(ng-repeat="grade in dtGrades.List", value="{{grade.gradeCode}}") {{grade.descGrade}}
                            span(name="lblMin", ng-show="hasSelectedGrade(product)", style="display: inline") Itens por grade {{ getQuantity(product) }}
                    div.form-group
                        label.control-label.col-sm-4.col-xs-6.col-lg-2 Quantidade:
                        div.col-sm-6.col-xs-12.col-lg-3
                            input.form-control(type="number", name="iptQuantity", ng-model="product.quantity", min="1", ng-required)
                    div.form-group
                        label.control-label.col-sm-4.col-xs-6.col-lg-2(name="lblTotal") Total:
                        div.col-sm-6.col-xs-12.col-lg-3
                            label.span-content {{ getTotal(product)}}
                div.buttons
                    button.btn.btn-primary(type="button", ng-click="addProduct(product)", ng-show="!product.inSession", ng-disabled="!isValidItem(product)", title="Adicionar item ao carrinho") Adicionar
                    button.btn.btn-success(type="button", ng-click="editProduct(product)", ng-show="product.inSession", ng-disabled="!isValidItem(product)", title="Salvar alterações no item") Salvar
                    button.btn.btn-danger(type="button", ng-click="removeProduct(product)", ng-show="product.inSession", title="Remover item do carrinho") Remover

            div.col-xs-12.col-sm-6.col-lg-6.product-categorys
                label.title Categoria:
                br
                label {{product.categoryName}}
                br
                label.title Descrição:
                br
                label {{product.description}}