extends ../master/master.pug

append infoPage
    title Clientes

append scripts
    script(src='/javascripts/basicregistration/clients.js')       
    script(src='/javascripts/basicregistration/client-address.js') 

block content
    div.panel.panel-default(ng-controller="tabManager")
        uib-tabset.tab-control(active="activeForm")
            uib-tab(index="0", heading="Geral", disable="!TabManager.getTab('General').status")
                client-control
            uib-tab(index="1", heading="Endereços", disable="!TabManager.getTab('Address').status", select="onSelect()")        
                client-address