extends ../master/master.pug

append infoPage
    title Grades

append scripts
    script(src='/javascripts/basicregistration/grades.js') 
    script(src='/javascripts/basicregistration/grades-control.js') 
    script(src='/javascripts/basicregistration/product-grade.js') 

block content
    div.panel.panel-default(ng-controller="tabManager")
        uib-tabset.tab-control(active="activeForm")
            uib-tab(index="0", heading="Grade", disable="!TabManager.getTab('Grades').status")
                grade-control
            uib-tab(index="1", heading="Grade X Produto", disable="!TabManager.getTab('Product').status", select="onSelect()")        
                product-grade