div.table-responsive.table-large
    table.table.table-hover.table-striped.table-condensed(ng-controller="tblProducts", ng-model="dtProducts")
        thead
            tr
                th.col-sm-3-grid
                    button.btn-find-min(type="button", ng-click="findProduct()", title="Encontrar")
                th.col-sm-3-grid 
                    button.btn-add-min(type="button", ng-click="newProduct()", title="Novo Produto")
                th.col-sm-4-grid(header-grid, header-text="Código", field-order="code", width="75")
                th.col-sm-3(header-grid, header-text="Nome", field-order="productName") 
                th.col-sm-4-grid(header-grid, header-text="Categoria", field-order="categoryName", width="200") 
                th.col-sm-4-grid(header-grid, header-text="Ativo", field-order="isActive", width="100") 
        tbody
            tr(ng-repeat="product in dtProducts.List", ng-click="tblProducts_OnSelectedRow(product)", selectable-row)
                td
                    button.btn-dele-min(type="button", ng-click="deleteProduct(product)", title="Excluir Produto") 
                td
                    button.btn-edit-min(type="button", ng-click="editProduct(product)", title="Editar Produto") 
                td.align-rigth {{product.code}}
                td {{product.productName}}    
                td {{product.categoryName}}
                td {{product.idcActive}} 

ul.pagination-sm.pager-style(uib-pagination, total-items="getPagerInfo('pgProducts').bigTotalItems", ng-model="getPagerInfo('pgProducts').bigCurrentPage"
, max-size="5", boundary-links="true", force-ellipses="true", boundary-link-numbers="true", items-per-page="itemsPerPage", ng-change="pageChanged('pgProducts')")

div.modal-demo
    script(type="text/ng-template", id="myProduct.html")
        div.modal-header
            h3.modal-title {{titleModal}}
        div.modal-body(id="modal-body")
            form.form-horizontal(name="frmProduct")
                div.form-group
                    label.control-label.col-sm-4 Código
                    div.col-sm-7
                        input.form-control(type="number", name="iptCode", ng-model="code", ng-disabled="!isFind")

                div.form-group
                    label.control-label.col-sm-4 Nome
                    div.col-sm-7
                        input.form-control(type="text", name="iptProductName", ng-model="productName", ng-required="!isFind")
                        span(ng-show="frmProduct.iptProductName.$touched && frmProduct.iptProductName.$invalid") 'Nome' é um campo de preenchimento obrigatório

                div.form-group
                    label.control-label.col-sm-4(for="dbCategory") Categoria
                    div.col-sm-7
                        select.form-control(id="dbCategory", name="dbCategory", ng-model="categoryCode", ng-required="!isFind")
                            option(ng-repeat="category in categorysOptions", value="{{category.code}}" ) {{category.categoryName}}
                        span(ng-show="frmProduct.dbCategory.$touched && frmProduct.dbCategory.$invalid") 'Categoria' é um campo de preenchimento obrigatório
                        
                div.form-group
                    label.control-label.col-sm-4 Vlr. no Icms 8
                    div.col-sm-7
                        input.form-control(type="text", ng-currency, currency-symbol="R$", name="iptProdValIcm8", ng-model="prodValIcm8", min="0", ng-required="!isFind")
                        span(ng-show="frmProduct.iptProdValIcm8.$touched && frmProduct.iptProdValIcm8.$invalid") 'Vlr. no Icms 8' é um campo de preenchimento obrigatório

                div.form-group
                    label.control-label.col-sm-4 Vlr. no Icms 12
                    div.col-sm-7
                        input.form-control(type="text", ng-currency, currency-symbol="R$", name="iptProdValIcm12", ng-model="prodValIcm12", min="0", ng-required="!isFind")
                        span(ng-show="frmProduct.iptProdValIcm8.$touched && frmProduct.iptProdValIcm8.$invalid") 'Vlr. no Icms 12' é um campo de preenchimento obrigatório

                div.form-group
                    label.control-label.col-sm-4 Vlr. no Icms 17
                    div.col-sm-7
                        input.form-control(type="text", ng-currency, currency-symbol="R$", name="iptProdValIcm17", ng-model="prodValIcm17", min="0", ng-required="!isFind")
                        span(ng-show="frmProduct.iptProdValIcm17.$touched && frmProduct.iptProdValIcm17.$invalid") 'Vlr. no Icms 17' é um campo de preenchimento obrigatório

                div.form-group
                    label.control-label.col-sm-4(for="dbStatus") Situação
                    div.col-sm-7
                        select.form-control(id="dbStatus", name="dbStatus", ng-model="idcActive", ng-required="!isFind")
                            option(ng-repeat="status in statusOptions", value="{{status.domainValue}}" ) {{status.domainMeaning}}
                        span(ng-show="frmProduct.dbStatus.$touched && frmProduct.dbStatus.$invalid") 'Situação' é um campo de preenchimento obrigatório
                            
        div.modal-footer
            button.btn.btn-primary(type="button", ng-click="save(frmProduct)", ng-disabled="frmProduct.$invalid", ng-show="!isFind") Salvar
            button.btn.btn-primary(type="button", ng-click="save(frmProduct)", ng-show="isFind") Buscar
            button.btn.btn-warning(type="button", ng-click="cancel()") Cancelar