extends ../master/master.pug

append infoPage
    title Produtos

append scripts
    script(src='/javascripts/basicregistration/products.js')
    script(src='/javascripts/basicregistration/products-control.js')
    script(src='/javascripts/basicregistration/product-images.js') 

block content
    div.panel.panel-default(ng-controller="tabManager")
        uib-tabset.tab-control(active="activeForm")
            uib-tab(index="0", heading="Produto", disable="!TabManager.getTab('Produto').status")
                product-control
            uib-tab(index="1", heading="Imagens", disable="!TabManager.getTab('Imagens').status", select="onSelect()")        
                product-images