extends master/master.pug

append infoPage
    title Login

append scripts
    script(src='/javascripts/index.js')

append content
    div.panel.panel-default
        div
            h1(ng-controller="titleCtrl") Bem-vindo {{profile}}