doctype html
html(ng-app="LayoutApp")
  head
    
    title= title
    
    
    //Controle da Página
    script(src='/javascripts/layout.js')

  body
    block content
        div.container-fluid
            h1 My First Bootstrap Page
            p This part is inside a .container-fluid class.
            p The .container-fluid class provides a full width container, spanning the entire width of the viewport.
        div.container-fluid
            label Name:&nbsp
            input(type="text", ng-model="yourName", placeholder="Enter a name here")
        hr
        h1(ng-controller="HelloCtrl") {{message}} {{yourName}}!
        div.container-fluid(ng-controller="BtnPost")              
            button.btn.btn-primary(type="button", ng-click="BtnPost_Click()") Postar Servidor