.product-container > img{
    width: 80px;
    height: 100px;
}
.product-container > span[name="info"] {
    position: relative;   
    font-size: 18px;
    overflow: hidden;
    top: -15px;
    text-overflow: ellipsis;
    width: 75%;
    white-space: nowrap;
    display: inline-block;
}

.car-item > td {
    vertical-align: middle !important;
}

.car-items-table {
    width: 100%;
}

.total-info-container > table {
    min-width: 300px;
    height: 100px;
    padding: 0px;
    background-color: #f8f9df;
    margin-right: 15px;
}
.total-info-container > table > tbody > tr > td { padding: 15px; }
.buttons-container {
    margin-top: 5px;
}

.select-grade{
    display: inline-block;
    width: 85%;
} 
.message-icon {
    width: 25%;
    display: block;
}
.message-success{ font-size: 20px; }