body {
    padding: 25px;
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
    padding: 0px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

a {
    color: #00B7FF;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 0px !important;
    border-radius: 0;
}
.panel{
    margin: 0px !important;
}
.panel, .panel-default{
    padding: 5px;
    padding-top: 20px;
    min-height: 100%;
    height: auto;
}
.table-large{
    height: 88%;
}
/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}
   
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.btn-edit-min, .btn-dele-min, .btn-add-min, .btn-find-min {
    width: 23px;
    height: 20px;
    border: none;
}
.btn-edit-min, .btn-add-min, .btn-find-min, .btn-dele-min:focus {
    outline: none;
}

.btn-dele-min{
    background: url("../images/btn-dele-min.png");
}
.btn-edit-min{
    background: url("../images/btn-edit-min.png");
}
.btn-add-min{
    background: url("../images/btn-add-min.png");
}
.btn-find-min {
    background: url("../images/btn-find-min.png");
}
.col-sm-3-grid{
    width: 25px;
    padding: 0;
}
.col-sm-4-grid{
    width: 50px;    
}
.pager-style{
    clear: both;
    float: right;
}

.iptLogin {
    text-transform: uppercase;
}

form > .messageForm, form > .form-group > .messageForm{
    font-size: 10.5px;
    color: red;
    display: block;
    position: relative;
    margin-top: -15px;
}

input.ng-invalid {
    border-color: red;
    border-width: 2px;
}

.message-user {
    position: absolute;
    bottom: 0px;
    width: 96%;
    z-index: 1000;
}
.align-rigth{
    text-align: right;
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.header-text{
    text-decoration: none;
    color: black;
}
.header-text, .header-text:hover, .header-text:focus {
    color: black;
}
.displayed {
    display: inline-block !important;
    width: 15px;
    height: 14px;
    margin: 0;
    padding: 0;
    position: relative;   
}
.desc-direction, .asc-direction {
    display: none;
}
.desc-direction {
    background-image: url(../images/desc-direction.png);
}
.asc-direction {
    background-image: url(../images/asc-direction.png);
}