body {
    padding: 0px;
    height: 100%;
    font: 14px Open Sans, HelveticaNeue, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
    padding: 0;
    margin: 0;
    width: 100%;    
}
.content{    
    padding-bottom: 0px;
}
.box{
    margin-bottom: 0px;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
    padding: 0px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

a {
    color: #00B7FF;
}
/*Problema com posicionamento do menu minificado*/
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu{
    top: 40px !important;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 0px !important;
    border-radius: 0;
}
.panel{
    margin: 0px !important;
    overflow-y: auto;
    overflow-x: hidden;
}
.panel, .panel-default{
    padding: 5px;
    padding-top: 20px;
    min-height: 100%;
    height: auto;
}
.table-responsive{
    overflow-y: auto !important;
}
.table-large{
    height: 88%;
}
/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}
.tab-control, .tab-pane{
    height: 100%;
}
.tab-control-min{
    height: 93%;
}
.tab-content {
    height: 93%;
}
.modal-content{
    max-height: 720px;
}
.modal-body{
    max-height: 575px;
    overflow-x: auto;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}
.overlay-div-show{
    display: block;
}
.overlay-div-hide{
    display: none;
}

.btn-edit-min, .btn-dele-min, .btn-add-min, .btn-find-min {
    width: 23px;
    height: 20px;
    border: none;
}
.btn-edit-min, .btn-add-min, .btn-find-min, .btn-dele-min:focus {
    outline: none;
}

.btn-dele-min{
    background: url("../images/btn-dele-min.png");
}
.btn-edit-min{
    background: url("../images/btn-edit-min.png");
}
.btn-add-min{
    background: url("../images/btn-add-min.png");
}
.btn-find-min {
    background: url("../images/btn-find-min.png");
}
.col-sm-3-grid{
    width: 25px;
    padding: 0;
}
.col-sm-4-grid{
    width: 50px;    
}
.pager-style{
    clear: both;
    float: right;
}

form > .messageForm, form > .form-group > .messageForm{
    font-size: 10.5px;
    color: red;
    display: block;
    position: relative;
    margin-top: -15px;
}

input.ng-invalid {
    border-color: red;
    border-width: 2px;
}

.message-user {
    position: absolute;
    bottom: 0px;
    width: 96%;
    z-index: 1000;
}
.alert-alert {
    background-color: #cac300;
}

.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.header-text{
    text-decoration: none;
    color: black;
}
.header-text, .header-text:hover, .header-text:focus {
    color: black;
}
/*Classes de diretivas*/
.displayed {
    display: inline-block !important;
    width: 15px;
    height: 14px;
    margin: 0;
    padding: 0;
    position: relative;   
}
.desc-direction, .asc-direction {
    display: none;
}
.desc-direction {
    background-image: url(../images/desc-direction.png);
}
.asc-direction {
    background-image: url(../images/asc-direction.png);
}

.selectable-row:hover {
    cursor: pointer;
    color: #929292 !important;
}
.selected-row {
    background-color: darkkhaki !important;
}

.input-wrapper > input[type='file']{
    display: none;
}
.input-wrapper > label {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    margin: 0;
    padding: 6px 3px;
    width: 80px;
    text-overflow: ellipsis
}
.input-wrapper > label:hover {
    background-color: #2980b9;
    cursor: pointer;
}
.input-wrapper > button {
    border: none;
    width: 25px;
    height: 20px;
    background-color: transparent;
}
.input-wrapper > button:hover {
    cursor: pointer;
}
.input-wrapper > .btn-clean {
    background: url("../images/btn-dele-min.png");
}
.input-wrapper > .progress-div{
    width: 100%;
    margin-top: 5px;
}

.image-modal > img{
    max-width: 568px;
    max-height: 600px;
}

.tr-vertical-align-middle > td{
    vertical-align: middle !important;
}
.div-buttons{
    padding: 5px;
    width: 100%;
    margin-top: 3px;
}