doctype html
html
  head
    block infoPage
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")

    block styles
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel="stylesheet", href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css")
        link(rel="stylesheet", href="/bower_components/Magnifier/magnifier.css")
        link(rel='stylesheet', href='/stylesheets/main.css')
    
    //JQuery    
    script(type="text/javascript", src="/bower_components/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/bower_components/jquery-ui/jquery-ui.js")
    script(type="text/javascript", src="/lib/jquery/jquery-config.js")
    script(type="text/javascript", src="/bower_components/popper.js/dist/umd/popper.min.js")
        
    //AngularJS
    script(src="/bower_components/angular/angular.js")        
    script(src="/bower_components/angular-animate/angular-animate.js")
    script(src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="/bower_components/angular-touch/angular-touch.js")
    script(src="/bower_components/angular-route/angular-route.js")
        
    //Boostrap
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')

    //Componentes de terceiros
    script(type="text/javascript", src="/bower_components/angular-ui-mask/dist/mask.js")
    script(src='/bower_components/cpf_cnpj/build/cpf.js')
    script(src='/bower_components/cpf_cnpj/build/cnpj.js')
    script(src='/bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js')
    script(type="text/javascript", src='/bower_components/angular-ui-date/dist/date.js')
    script(type="text/javascript", src='/bower_components/ng-currency/dist/ng-currency.js')
    script(type="text/javascript", src='/bower_components/angular-percentage-filter/percentage.js')
    script(type="text/javascript", src='/bower_components/ng-percent/dist/ng-percent.min.js')
    script(type="text/javascript", src='/bower_components/angular-ui-uploader/dist/uploader.js')
    script(type="text/javascript", src='/bower_components/Magnifier/Event.js')
    script(type="text/javascript", src='/bower_components/Magnifier/Magnifier.js')

    script(type="text/javascript") var evt = new Event(), m = new Magnifier(evt);

    block scripts
        script(src='/javascripts/common/master.js')
        
body(ng-app="currentApp", ng-controller="masterCtrl", onload="page.start()")
        block nav
    
            //Cabeçalho Master
            //div.jumbotron
                div.container.text-center
                    img.img-responsive(src="/images/fargLogo.png", alt="Logo Farg")  

            //Menu Geral
            nav.navbar.navbar-inverse
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar                
                        a.navbar-brand(href="#") Logo
    
                div.collapse.navbar-collapse(id="myNavbar")
                    ul.nav.navbar-nav
                        li.active
                            a(href="/") Home
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") Cadastros
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/basicregistration/users") Usuários
                                li
                                    a(href="/basicregistration/clients") Clientes
                                li
                                    a(href="/basicregistration/grades") Grades
                                li
                                    a(href="/basicregistration/form-payments") Formas Pagamento
                                li
                                    a(href="/basicregistration/categorys") Categorias
                                li
                                    a(href="/basicregistration/products") Produtos
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") Consultas
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/consult/request") Pedidos
                        li
                            a(href="/client/products") Catálogo
                    ul.nav.navbar-nav.navbar-right                        
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#")
                                span.glyphicon.glyphicon-user
                            ul.dropdown-menu
                                li
                                    a(href="/logout") Sair                                
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#")
                                span.glyphicon.glyphicon-shopping-cart
                            ul.dropdown-menu
                                li
                                    a(href="/client/car") Meu carrinho
    
        div.container
            
                block content

        div
            div.message-user(uib-alert, ng-repeat="alert in _alerts", dismiss-on-timeout="2000", ng-class="'alert-' + (alert.typeMessageUser || 'warning')", close="closeMessageUser($index)") {{alert.messageUser}}