doctype html
html
  head
    block infoPage
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")

    block styles
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    
    //JQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js", integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4", crossorigin="anonymous")
    //AngularJS
    //script(src='/lib/angular/angular.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js")
    script(src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js")

    //script(src="https://rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-0.11.0.min.js")
    //script(src="https://rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.11.0.min.js")
    //Boostrap
    script(src='/lib/bootstrap/js/bootstrap.min.js')

    script(src='../bower_components/cpf_cnpj/build/cpf.js')
    script(src='../bower_components/cpf_cnpj/build/cnpj.js')
    script(src='../bower_components/ng-cpf-cnpj/lib/ngCpfCnpj.js')

    block scripts
        script(src='/javascripts/common/master.js')
        
body(ng-app="currentApp", ng-controller="masterCtrl", onload="page.start()")
        block nav
    
            //Cabeçalho Master
            //div.jumbotron
                div.container.text-center
                    img.img-responsive(src="/images/fargLogo.png", alt="Logo Farg")  

            //Menu Geral
            nav.navbar.navbar-inverse
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar                
                        a.navbar-brand(href="#") Logo
    
                div.collapse.navbar-collapse(id="myNavbar")
                    ul.nav.navbar-nav
                        li.active
                            a(href="/") Home
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#") Cadastros
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="/basicregistration/users") Usuários
                        li
                            a(href="#") Deals
                        li
                            a(href="#") Stores
                        li
                            a(href="#") Contact            
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#")
                                span.glyphicon.glyphicon-user Your Account
                        li
                            a(href="#")
                                span.glyphicon.glyphicon-shopping-cart Cart
    
        div.container
            div.panel.panel-default
                block content

        div
            div.message-user(uib-alert, ng-repeat="alert in _alerts", dismiss-on-timeout="2000", ng-class="'alert-' + (alert.typeMessageUser || 'warning')", close="closeMessageUser($index)") {{alert.messageUser}}